/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "primeicons/primeicons.css";

body {
  height: 100vh !important;
  width: 100% !important;
  font-family: 'YekanBakhFARegular' !important;
  background-color: #f5f5f5;
  padding: 10px;
}

@theme {
  --color-primary: #8841cf;
  --color-primary-50:  #f3e8ff;
  --color-primary-100: #e9d5ff;
  --color-primary-200: #d8b4fe;
  --color-primary-300: #c084fc;
  --color-primary-400: #a855f7;
  --color-primary-600: #7c3aed;
  --color-primary-700: #6d28d9;
  --color-primary-800: #5b21b6;
  --color-primary-900: #4c1d95;
}

/*.p-button.p-button-link,*/
/*.p-button.p-button-link:hover{*/
/*  text-decoration: none !important;*/
/*}*/

/*.p-button.p-button-link {*/
/*  --p-link-color: #000000;*/
/*  --p-link-hover-color: #000000;*/
/*  --p-link-active-color: #000000;*/
/*  color: var(--p-link-color) !important;*/
/*}*/

/*.p-button.p-button-link:hover {*/
/*  --p-link-color-primary: #8841cf;*/
/*  --p-link-hover-color-primary: #8841cf;*/
/*  --p-link-active-color-primary: #8841cf;*/
/*  color: var(--p-link-color-primary) !important;*/
/*}*/
